*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: "Arial", sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0; 
}
.container{
width: 80%;
margin: 2rem auto;
background-color: #fff;
padding: 1rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
text-align: center;
color: #333;
margin-bottom: 1rem;
}
.search-box {
display: flex;
justify-content: center;
gap: 1rem;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 80vw;
margin: 0 auto;

}
.child{
    width: 90%;
}
#search-input {
padding: 0.5rem 1rem;
font-size: 1rem;
margin: 0;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
flex: 1;
}
#search-btn {
padding: .7rem;
background-color: #007BFF;
color: #fff;
border: none;
width: 10%;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

small{
    color: red;
    font-size: 1em;
    width: 70%;
    margin: 0 auto;
}
#search-btn:hover {
background-color: #0056b3;
}
.meal-list, .meal-details {
margin-top: 2rem;
}
/* meal card */
.meal-container{

}
.thumbnail{

}
.title{

}
/* details modal */
.meal-details{
position: fixed;
top: 100px;
left: 50px;
width: 90vw;
height: 80vh;
padding: 20px;
margin: 10px;
display: none;
justify-content: center;
align-content: center;
flex-direction: column;
flex-wrap: wrap;
z-index: 1000;
border-radius: 5px;
overflow-y: scroll;
border: solid 2px #007BFF;

}
.meal-details img{
    width: 200px;
    height: 70%;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px 0 0;
}
.details-title{
height: 20%;
width:  300px;
}
.ingredient-title,.instructions-title{
    font-size: 1.5rem;
    width: 90%;
    padding: 10px;
    margin: 10px;
    color:#007BFF;
    text-transform: uppercase;
    
}
.ingredient-list,.instructions-list{
height: 90%;
padding: 10px;
width: 30%;
display: flex;
flex-wrap: wrap;
gap: 5px;
}
.ingredient-list li,.instructions-list li{
list-style: none;
width: 90%;
padding: 5px;
}
.ingredient-list li{
    background-color: green;
    color: yellow;
    border-radius: 5px;
    width: fit-content;
}
.hide{
display: none;
}
.show{
display: flex;
}
.close-btn{
padding: 10px;
color: green;
font-size: 1.2em;
transition: transform .3s ease-in,color .2s ease-out;
position: absolute;
top: 2px;
right: 5px;
}
.close-btn:hover{
color: greenyellow;
transform: scale(1.1);
}


